<% provide(:title, 'Alpha Psi') %>
<div class="center hero-unit launch-page">
	<h1>AEPi | Alpha Psi</h1>
	<div class="row">
		<div class="span2 offset3">
			<%= link_to "Sign in", '#', class: "btn btn-large btn-primary" %>
		</div>
		<div class="span2">
			<%= link_to "Join AEPi", '#', class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<div>
		Don't have an account yet? <%= link_to "sign up now!", '#' %>
	</div>
</div>

